@import "./libs/bootstrap-reboot.min.scss";

@import "./base/variables";
@import "./base/mixins";

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1120px;
    margin: 0 auto;
    position: relative;
}

@import "./blocks/header";
@import "./blocks/nav";
@import "./blocks/delivery-fast";
@import "./blocks/price";
@import "./blocks/delivery";
@import "./blocks/work";
@import "./blocks/advantages";
@import "./blocks/certificates";
@import './blocks/slider';
@import "./blocks/partners";
@import "./blocks/reviews";
@import "./blocks/questions";
@import "./blocks/footer";
@import "./blocks/media";