@import "./libs/bootstrap-reboot.min.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import "./base/variables";
@import "./base/mixins";

* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1120px;
    margin: 0 auto;
    position: relative;
}

@import "./blocks/header";
@import "./blocks/nav";
@import "./blocks/delivery-fast";
@import "./blocks/price";
@import "./blocks/delivery";
@import "./blocks/work";
@import "./blocks/advantages";
@import "./blocks/certificates";
@import './blocks/slider';
@import "./blocks/partners";
@import "./blocks/reviews";