@import "./libs/bootstrap-reboot.min.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import "./base/variables";
@import "./base/mixins";

* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1120px;
    margin: 0 auto;
}

@import "./blocks/header";
@import "./blocks/nav";
@import "./blocks/delivery";
