.delivery {
    min-height: 666px;
    background: #F9F9F9;
    margin-top: 100px;
    &__title {
        padding-top: 74px;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 16px;
        &_all {
            display: flex;
        }
    }
    &__label {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
    }
    &__input {
        height: 46px;
        width: 409px;
        padding-left: 15px;
        background: #FFFFFF;
        border: 1px solid #D5D5D5;
    }
    &__result {
        width: 638px;
        height: 441px;
        background: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        margin-top: 15px;
        padding: 40px;
        margin-left: 71px;
        hr {
            border: 1px solid #E7E7E7;
            margin-top: 16px;
        }
        &-title {
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
        }
        &-price {
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
            &_liter {
                display: flex;
                justify-content: space-between;
                margin-top: 16px;
            }
        }
        &-descr {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #565656;
            margin-top: 10px;
        }
        &-benefit {
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
            span {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                text-align: right;
                color: #000000;
            }
        }
        &-button {
            @include button;
            margin-top: 31px;
        }
    }
}